[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ariadne = "*"
uvicorn = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
gunicorn = "*"
waitress = "*"

[dev-packages]

[requires]
python_version = "2.7"

[scripts]
start_api = "uvicorn main:app --interface wsgi"
